/* src/index.css */
:root {
  font-family: 'Inter', 'Segoe UI', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #F8FAFC; /* Fondo general del sistema */
}

#root {
  width: 100%;
  max-width: none; /* Esto elimina la restricción por defecto de Vite */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Hace que todos los elementos calculen su ancho de forma exacta */
* {
  box-sizing: border-box;
}